/*------------      GENERAL     -------------*/
*:focus {
    outline: none !important;
}

a {
    outline: none !important;
}

a img {
    outline: none !important;
}
.wrapper {
    width: 1024px;
    margin: 0 auto;
}

.alert {
    color: #fff;
    background-color: #b5a28e;
    border: none;
    text-align: center;
    border-radius: 0;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid #fdfcf6;
}

.clear {
    clear: both;
    width:100%;
    margin-bottom: 30px;
    text-align: center;
}

.noise {
    background-image: url('../img/hard_noise.png');
    background-repeat: repeat;
}
.noise_light  {
    background-image: url('../img/noise.png');
    background-repeat: repeat;
}
.overflow {
    overflow: hidden;
}
.col {
    float: left;
}
.col_l {
    width: 717px;
    padding-right: 30px;
}
.col_s {
    width: 307px;
}
.left, .center {
    float: left;
}
.right {
    float: right;
}
.block {
    width: 100%;
    background: #fff;
    margin-top: 30px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.08);
}
.bordered {
    border: 1px solid rgba(213, 202, 187, 0.28);
    border-right: 0;
    border-left: 0;
}
.logo {
    background: url('../img/logo.png');
    width: 109px;
    height: 51px;
    margin: 0 auto;
}
.logo .under_logo {
    position: relative;
    top: 60px;
    text-align: center;
    font-size: 18px;
}
.inline_logo {
    font-size: 23px;
    color: #b09c87;
    font-family: 'proxima_nova_ththin';
}
.inline_logo span {
    color: #2e2e2e;
    font-family: 'proxima_nova_rgbold';
}
.underline {
    width: 100%;
    height: 7px;
}
.transition {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.filters a {
    display: inline-block;
    margin: 10px;
    color: #fff;
    text-decoration: none!important;
    border-bottom: 1px dashed;
}
.filter i{
    font-size: 14px;
}
h2 {
    font-size: 28px;
    font-family: 'proxima_nova_ththin';
}
h3 {
    font-size: 18px;
    font-family: 'proxima_nova_rgregular';
    font-weight: 700;
}
.bold_title {
    font-size: 20px;
    font-family: 'proxima_nova_rgbold';
}
.full_user_info {
    display: none;
}

/*------------      Locked Screen     -------------*/

.locked_screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(76, 65, 53, 0.9) url(../img/noise.png) repeat;
    z-index: 9999;
    color: #e2d9d0;
    text-align: center;
    display: none;
}
.locked_screen .close_locked_screen {
    font-size: 30px;
    color: #e2d9d0;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
}
.locked_screen .lock_icon{
    font-size: 100px;

}
.locked_screen h2 {
    font-size: 36px;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 10px;
}
.locked_screen .btn {
    width: 250px;
    margin: 0 auto;
}
.dashed_link {
    border-bottom: 1px dashed #e2d9d0;
    color: #e2d9d0;
    width: 100px;
    margin: 0 auto;
    margin-top: 8px;
    font-size: 14px;
}
/*------------      FOOTER     -------------*/
.pre_footer, .footer {
    clear: both;
    overflow: hidden;
    font-size: 16px;
    box-shadow: 0 0px 14px rgba(0, 0, 0, 0.12);
}
.bg_sub .pre_footer {
    background-color: #fff;
}
.pre_footer .col {
    width: 340px;
    padding: 71px 0;
}
.footer {
    text-align: center;
    clear: both;
}
.footer a, .footer span {
    display: inline-block;
    color: #fff;
    margin: 24px 90px 24px 10px;
    text-align: left;
}
.social_links {
    text-align: right;
    margin-top: 20px;
}
.social_links a {
    width:32px;
    height: 32px;
    display: inline-block;
    color: #b09c87;
    text-align: center;
    padding-top: 7px;
    margin: 5px;
    border-radius: 32px;
    cursor: pointer;
    border: 1px solid #b09c87;
}
.social_links a:hover {
    cursor: pointer;
    background: #b09c87;
    color: #fff;
}

/*------------      Users services     -------------*/
.first_bg {
    height: 50%;
    width:100%;
}
.second_bg {
    height: 50%;
    top: 50%;
    width:100%;
}
.second_bg::before {
    content: '';
    display: block;
    width:100%;
    border-bottom: 2px solid #ebe6d7;
    position: relative;
    top:7px;
}
.register_container {
    position: absolute;
    height:460px;
    background: #fff;
    width: 900px;
    left: 50%;
    margin-left: -450px;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.20);

    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
}
.register_container:hover {
    box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.40);
}
.register_bg {
    background: url("../img/reg_bg.png");
    height: 460px;
    width: 519px;
}
.register_bg::before {
    content: '';
    display: block;
    height: 460px;
    width: 519px;
    background: url("../img/color_noise.png") repeat;
    position: absolute;
}
.register_container .right {
   width: 381px;
   padding: 65px;
    height: 460px;
    text-align: center;
    background: url('../img/shadow_v.png') repeat-y;
}
.register_container input[type="checkbox"] {
    margin-left: -12px;
    margin-top: 20px;
}
.register_container label {
    font-family: 'proxima_nova_ththin';
}
.register_container .file-input{
    position: absolute;
    top: 0;
}
.register_container .file-preview,  .register_container .file-drop-zone {
    max-height:159px;
    border: none;
}
.register_container .file-thumbnail-footer, .register_container .close{
    display: none;
}
.register_container .input-group, .register_container .file-drop-zone-title {
    opacity: 0;
}
.register_container .file-preview-frame {
    border: 0;
    box-shadow: none;
}
.register_container .file-drop-zone, .register_container .file-preview-frame{
    border: 0;
    max-height: 131px;
    margin: 0;
    padding: 0;
}
.register_container .file-preview-image{
    border-radius: 92px;
    background-size: cover;
    background-position: center;
    width: 145px !important;
    height: 145px !important;
    margin-left: 23px;
    margin-top: 1px;
}
.register_container .kv-file-content:hover{
    box-shadow: none;
}
.register_container #registrationform-avatar{
    top:18px;
}
.register_container .fileinput-remove, .register_container .fileinput-cancel{
    display: none;
}
.file-preview-thumbnails{
    max-width:255px;
}
.rules_link, .go2login a {
    display: inline-block;
    border-bottom: 1px dashed #b09c87;
    margin-left: 5px;
}
.go2login {
    text-align: center;
    display: block;
    color: #333;
    clear: both;
    position: relative;
    top: 30px;
}
.auth_soc {
    width:32px;
    height: 32px;
    display: inline-block;
    color: #fff;
    text-align: center;
    padding-top: 8px;
    margin: 5px;
    border-radius: 32px;
    cursor: pointer;
}
.auth_soc:hover {
    filter: grayscale(45%);
    color: #fff;

}
.auth_vkontakte {
    background-color: #4d76a1;
}
.auth_facebook {
    background-color: #3b5998;
}
.auth_google_oauth {
    background-color: #dc4e41;
}
.register_cta {
    color: #fff;
    text-align: center;
    position: relative;
    top: 170px;
    font-family: 'proxima_nova_rgbold';
}
.register_cta_1 {
   text-transform: uppercase;
}
.register_cta_2 {
    font-size: 58px;
    font-family: 'proxima_nova_ththin';
    line-height: 60px;
}
.register_cta_3::before, .register_cta_3::after  {
    content: '...';
    position: relative;
    top: -3px;
    letter-spacing: 3px;
    margin: 9px;
}
.add_photo_contaner {
    position: absolute;
    text-align: center;
    width: 200px;
    margin: 101px 0px 0px 155px;
    display: none;
}
.add_photo {
    width: 156px;
    height: 156px;
    border: 3px solid #ebe6d7;
    border-radius: 156px;
    display: inline-block;
}
.no_photo {
    width: 144px;
    height: 144px;
    background: #ffffff url('../img/nophoto.png') center no-repeat;
    border-radius: 156px;
    margin-left: 3px;
    margin-top: 3px;
}
.register_step2 .btn {
    margin-top: 20px;
}
.register_step2 .back {
    color: #b09c87;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    padding: 0px 4px;
    margin-top: 8px;
    border-bottom: 1px dashed;
}
.wrapper_addform {
    width: 680px;
    margin: 0 auto;
    margin-top: 50px;
}
.wrapper_addform .progress {
    margin-bottom: 0px;
    margin-top: 30px;
}
.wrapper_addform h1 {
    font-family: 'proxima_nova_ltlight';
    background: #fefdf7;
    position: relative;
    display: block;
    padding: 0 15px;
    z-index: 2;
    width: 140px;
    text-align: center;
    margin: 0 auto;
    margin-top: -15px;
}
.wrapper_addform  .message_block_underline {
    width: 100%;
    top: -24px;
}
.wrapper_addform_step_two {
    width: 1024px;
}
.login_container {
    width: 380px;
    margin-left: -190px;
    text-align: center;
}
.outline {
    padding: 65px;
}
/*------------      HEADER     -------------*/


.header {
    width: 100%;
    height: 88px;
    border-bottom: 1px solid #c0b9ab;
    background: #fff url(../img/head_shadow.png) repeat-x;
    box-shadow: 0 2px 14px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 2;
}
.nav_line a {
    float: left;
    display: block;
    border-left: 1px solid #e4e2e0;
    padding: 30px 35px 0 35px;
    height: 87px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.nav_line a:hover {
    background: #cec6bd;
    color: #fff;
}
.nav_line a:last-child {
    border-right: 1px solid #e4e2e0;
}
.header .inline_logo {
    margin-top: 26px;
    margin-right: 35px;
}
.user_photo {
    width: 56px;
    height: 56px;
    border-radius: 56px;
    background-size: cover;
    background-position: center;
}
.counter {
    display: block;
    position: absolute;
    background: #dd574c;
    color: #fff;
    font-size: 13px;
    padding: 0px 8px;
    margin-left: 41px;
    margin-top: -55px;
    border-radius: 15px;
}
.open_sub_menu {
    color: #fff;
    font-size: 9px;
    padding-top: 5px;
    position: absolute;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    margin-left: 42px;
    margin-top: -18px;
}
.open_sub_menu:hover {
    background: #8a7866;
}
.user_header {
    margin-top: 15px;
}
.header .btn_border {
    margin-top: 22px;
    right: 20px;
    position: relative;
}
.mobile_menu, .mobile_menu_off {
    float: left;
    padding: 33px 33px 33px 33px;
    display: none;
}
.signin {
    display: inline-block;
    width: 60px;
    position: relative;
    top: 11px;
}
.signup {
    width: 190px;
}
/*------------      Search     -------------*/

.search {
    width:100%;
    background: url("../img/head.jpg");
    height: 200px;
}

.search form{
    margin: 0;
}

.search_mask{
    background: #ded3c3;
    width: 100%;
    height: 200px;
    display: block;
    opacity: 0.95;
    position: relative;
    z-index: 1;
    top: -83px;
}
.search_out {
    background: url(../img/input_pattern.png);
    width: 1143px;
    height: 83px;
    position: relative;
    top: 60px;
    z-index: 2;
}
.search_in {
    background: url('../img/input_pattern.png');
    width: 856px;
    height: 96px;
    background-position: 0 -173px;
    position: relative;
}
.search_in i {
    margin-left: 40px;
}
.search_in input {
    height: 65px;
    background: transparent;
    display: inline-block;
    width: 85%;
    margin-top: 7px;
    color: #000;
    border: none;
    margin-left: 2%;
    outline: 0;
}
.search_buttion {
    background: url(../img/input_pattern.png);
    width: 253px;
    height: 64px;
    position: relative;
    z-index: 3;
    background-position: -82px -382px;
    float: right;
    top: -12px;
}
.search_buttion input {
    display: block;
    background: url(../img/input_pattern.png);
    width: 253px;
    height: 64px;
    position: relative;
    z-index: 4;
    background-position: -445px -382px;
    border: none;
    top: -4px;
    color: #efe7d9;
    font-weight: bold;
    outline: 0;
}
.search .filters {
    float: right;
    position: relative;
    z-index: 10;
    /*top: 30px;*/
    clear: both;
}


/*------------      INDEX     -------------*/
.preheader {
    border-bottom: 1px solid #d5cabb;
    overflow: hidden;
    padding: 10px 0 17px 0px;
    clear: both;
}
.preheader .filter{
    color: #555;
    margin-top: 15px;
    margin-left: 16px;
}
.active_filter {
    border: 1px solid #ab9e8d!important;
    border-radius: 30px;
    padding: 8px 27px;
}
.author {
    width: 200px;
    float: left;
    margin-top: 30px;
    margin-left: 14px;
    margin-right: 15px;
    text-align: center;
}
.author_photo {
    width: 105px;
    height: 105px;
    background-size: cover;
    border-radius: 105px;
    margin-bottom: -10px;
    display: inline-block;
}
.author_name {
    font-weight: 100;
    margin-top: 30px;
    height: 45px;
}
.load_more {
    width: 100%;
    clear: both;
    margin-top: 50px;
}
.load_more span{
    width: 305px;
    display: block;
    height: 1px;
    border-bottom: 1px solid #f0e5db;
}
.load_selector{
    cursor: pointer;
    margin: 13px;
    margin-top: -25px;
    width:50px;
}
.load_selector div{
    background: url('../img/load_more.png');
    height: 50px;
    width:50px;
}
.load_selector a {
    font-size: 16px;
    position: relative;
    width: 200px;
    text-align: center;
    margin-left: -70px;
    margin-top: 10px;
}
.pq_counter {
    display: block;
    position: absolute;
    color: #fff;
    font-size: 13px;
    padding: 0px 8px;
    margin-left: 130px;
    margin-top: -80px;
    border-radius: 15px;
}
.author_deck {
    color: #777777;
    line-height: initial;
    margin-top: -5px;
    height: 58px;
    overflow: hidden;
    font-size: 16px;
}
.fst_adv {
    height: 330px;
    padding: 50px;
    text-align: center;
}
.scn_adv {
    height: 300px;
}


.message {
    width: 215px;
    border:1px solid #f0e5db;
    float: left;
    margin-top: 26px;
    margin-right: 21px;
    background: #fff;
    overflow: hidden;
}
.message:nth-child(3n) {
    margin-right: 0px;
}
.message_view {
    display: block;
    width: 215px;
    height: 153px;
    margin-left: -1px;
    margin-top: -1px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-bottom: 1px solid rgba(185, 167, 148, 0.34);
    box-shadow: 0 1px 5px #e6e6e6;
}
.message_view:hover {
    -webkit-filter: hue-rotate(180deg);
}
.message h4, .message p, .message_meta_inf {
    padding-left: 20px;
}
.message h4 {
    font-size: 16px;
    padding-top: 5px;
    height: 23px;
    overflow: hidden;
}
.message p {
    margin: -6px 10px 0px 0px;
    height: 47px;
    overflow: hidden;
    font-size: 16px;
    word-wrap: break-word;
}
.message_meta_inf {
    font-size: 12px;
    color: #b0afaf;
}
.message_meta_inf span:first-child{
    margin-right: 10px;
}
.message_controls {
    border-top: 1px dashed #e2d9d0;
    text-align: center;
    margin-top: 15px;
    padding: 14px;
}
.message_controls a {
    margin: 0 15px;
    cursor: pointer;
    display: inline-block;
    font-family: 'proxima_nova_ltlight';
}
.message_controls a i:hover {
    color: #9c8c79;
}
.recommendations .message{
    border: 0px;
    width: 100%;
    background: transparent;
}
.recommendations .message .message_view{
    width: 105px;
    height: 75px;
    margin: 0px;
    float: left;
    margin-right: 10px;
}
.recommendations .message p {
    height: inherit;
    padding: 0;
}
.recommendations {
    border-left: 1px solid #f0e5db;
    padding-left: 30px;
}
.recommendations .message h4{
    padding-top: 0;
    padding: 0;
    margin-top: -1px;
    height: 17px;
    margin-bottom: 7px;
}
.tags {
    border-top: 1px solid #f0e5db;
    margin-left: -30px;
    padding-left: 30px;
    margin-top: 30px;
}
.get_random {
    width: 240px;
    margin-top: 17px;
    margin-right: 30px;
    margin-left: 120px;
}
.gun {
    margin-top: 25px;
    font-size: 24px;
    margin-left: -5px;
}
.recommendations .btn {
    margin-top: 30px;
}
.tags {

    height: 186px;
}
.tags a{
    display: inline-block;
    color: #9a9a9a;
}
.tags a:hover {
    color: #b09c87;
    border-bottom: 1px dashed #b09c87;
}
.recommendations h2 {
    margin-top: 26px;
    margin-bottom: -3px;
}
.message:hover {
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.contain_right {
    width: 337px!important;
}


/*------------      USER PROFILE     -------------*/
.user_block {
    width: 280px;
    overflow: hidden;
    border-bottom: 0;
    border-top: 0;
    text-align: center;
}
.user_head {
    background-image: url('../img/user_mask.png'), url('../img/noise.png');
    background-position: top center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 30px 0 5px 0;
}
.user_head .add_photo, .settings_block .add_photo {
    width: 135px;
    height: 135px;
    border: 2px solid #ebe6d7;
    border-radius: 135px;
    display: inline-block;
}
.user_head .user_photo, .settings_block .kv-file-content img {
    width: 125px;
    height: 125px;
    border-radius: 130px;
    margin-left: 3px;
    margin-top: 3px;
}
.user_head span {
    font-size: 16px;
    font-family: 'proxima_nova_ththin';
    position: relative;
    top: -10px;
}
.user_counters div, .message_counters div {
    display: inline-block;
    width: 88px;
    text-align: center;
    border-right: 1px solid #f1e8e0;
}

.user_counters span, .message_counters span {
    font-size: 12px;
    font-family: 'proxima_nova_ththin';
    position: relative;
    top: -7px;
    display: block;
}
.user_counters div:last-child, .message_counters div:last-child {
    border: none;
}
.user_counters h3, .message_counters h3 {
    font-size: 25px;
    text-align: center;
    font-family: 'proxima_nova_ltlight';
    font-weight: 100;
}
.user_menu a, .user_info div {
    display: block;
    border-top: 1px solid #f1e8e0;
    clear: both;
    text-align: left;
    padding: 15px 25px;
    overflow: hidden;
}
.user_menu a i, .user_info i{
    margin-right: 10px;
    float: left;
    margin-top: 3px;
}
.user_menu a:hover {
    background:#f1e8e0;
}
.user_info span {
    display: block;
    width: 200px;
    font-size: 16px;
    float: left;
}
.achive_border {
    border: solid 3px;
    margin: 15px;
    padding: 15px;
    text-align: center;
}
.message_more {
    display: inline-block;
    width: 215px;
    text-align: center;
    margin-top: 26px;
    border: 1px solid #eae2d8;
    height: 315px;
}
.message_more i {
    font-size: 50px;
    display: block;
    margin: 15px auto;
    margin-top: 80px;
    padding-top: 24px;
    padding-left: 5px;
    width: 100px;
    height: 100px;
    border: 1px dashed;
    border-radius: 100px;
}
.rang {
    width: 50px!important;
    height: 50px;
    background-size: cover;
    border: none!important;
    top: -1px;
    position: relative;
}
.rang_stranger {
    background-image: url(../img/rang1.jpg);
}
.rang_wanderer {
    background-image: url(../img/rang2.jpg);
}
.rang_challenger {
    background-image: url(../img/rang3.jpg);
}
.rang_master {
    background-image: url(../img/rang4.jpg);
}
.rang_guru {
    background-image: url(../img/rang5.jpg);
}
.rang_bodhisatva {
    background-image: url(../img/rang6.jpg);
}
.rang_immortal {
    background-image: url(../img/rang7.jpg);
}
.settings_block .add_photo {
    position: absolute;
    margin-left: 270px;
    margin-top: -25px;
}
.field-user-avatar .btn {
    position: absolute;
    margin-top: -105px;
    width: 200px;
    margin-left: 237px;
}
.edit_user_form {
    width: 630px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.edit_user_form input {
    width: 230px;
    display: inline-block;
    margin-left: 5px;
}
.edit_user_form label {
    width: 20px;
    text-align: right;
}
.form_grup {
    width: 100%;
    overflow: hidden;
}
.form_grup .form-group {
    width: 305px;
    float: left;
    margin-left: 10px;
}
.form_grup_full .form-group {
    width: 700px;
}
.form_grup_full input {
    width: 547px;
}
.settings_block:last-of-type {
    margin-bottom: 30px;
}
.messages_inline_container .message {
    width: 100%;
    background: 0;
    border: 0;
    padding-bottom: 25px;
    border-bottom: 1px dashed #e2d6c9;
    box-shadow: none;;
}
.messages_inline_container .message_view {
    float: left;
    width: 120px;
    height: 80px;
}
.messages_inline_container .desk {
    float: left;
}
.messages_inline_container .message_controls {
    border: none;
    float: right;
    margin: 0;
    padding: 0;
    margin-top: -27px;
}
.messages_inline_container .message_controls .btn{
    display: inline-block;
    width: initial;
}
.messages_inline_container .message_controls .edit{
    padding: 11px 13px;
}
.messages_inline_container h4 {
    margin-top: 0px;
}
.messages_inline_container .message p {
    height: 26px;
    width: 400px;
}
.messages_inline_container .message_meta_inf {
    display: inline-block;
}
    /*------------    Message VIEW    -------------*/

.message_block {
    text-align: center;
    padding-right: 0;
}
.message_counters {
    display: inline-block;
    margin-bottom: 20px;
}
.message_counters h3 {
    font-size: 20px;;
}
.message_block h2 {
    background: #fff;
    position: relative;
    display: inline-block;
    padding: 0 15px;
    z-index: 2;
    padding-top: 20px
}
.message_block_underline {
    display: block;
    width: 90%;
    border-bottom: 1px solid #f0e5db;
    position: relative;
    margin: 0 auto;
    top: -25px;
    z-index: 1;
}
.message_block_controls {
    background: url(../img/head_shadow.png) repeat-x;
    padding: 35px 30px;
}
.message_block_controls .btn {
    width: 180px;
    margin-right: 10px;
    margin-top: 0;
}
.share_message a {
    width:32px;
    height: 32px;
    display: inline-block;
    color: #fff;
    text-align: center;
    padding-top: 7px;
    margin: 5px;
    border-radius: 32px;
    cursor: pointer;
    background: #b09c87;
}
.share_message a:hover {
    cursor: pointer;
    background: #b09c87;
    color: #fff;
}
.message_view_container .user_block {
    margin-left: 30px;
}


/*------------    Message ADD    -------------*/
.add_message_zone {
    padding: 30px;
}
.add_message_zone .bg_sub {
    padding: 30px;
    margin: 0;
}
.add_message_zone .file-drop-zone-title{
    text-align: center;
    padding: 50px;
}
.add_message_zone .file-drop-zone-title i, .message_upload_input i{
    font-size: 50px;
    display: block;
}
.add_message_zone .file-drop-zone {
    box-shadow: none;
    width: 100%;
    height: 340px;
    margin: 0;
}
.wrapper_addform form {
    overflow: hidden;
}
.message_form {
    width: 350px;
    padding: 30px;
    height: 400px;
    text-align: center;
    background: url(../img/shadow_v.png) repeat-y;
}
.icon_upload {
    font-size: 80px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 30px;
}
.message_form .btn {
    margin-top: 10px;
}
.add_message_block {
    margin: 50px auto;
    margin-top: 0;
}
.message_upload_input i {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 70px;
}
.message_upload_input .form-group {
    width: 400px;
    margin: 0 auto;
}
.message_upload_input input {
    text-align: center;
}
.add_message_zone .form-group {
    margin: 0px;
}
.add_preview_call i{
    display: none;
}
.add_preview_call span{
    border-bottom: 1px dashed;
}
.presentation_prew_zone {
    height: 403px;
    padding: 10px;
    overflow: auto;
}
.presentation_prew_item {
    width: 31%;
    height: 114px;
    float: left;
    margin-left: 2%;
    margin-top:10px;
    cursor: pointer;
    border: 1px solid #ecded6;
}
.presentation_prew_item span {
    color: #fff;
    position: relative;
    font-size: 14px;
    font-family: 'proxima_nova_ththin';
    display: block;
    top: -23px;
    text-align: right;
    width: 81px;
    float: right;
    padding: 2px;
    border-radius: 20px 0 0 0;
    background: rgba(176, 156, 135, 0.82);
}
.presentation_slide {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.count_slider_full {
    padding: 7px;
    background: #fffaf5;
    color: #b09c87;
}
.presentation_slide:hover {
    filter: grayscale(80%);
}
.slide_desk {
    background: url(../img/slide_mask.png) repeat-x bottom;
    height: 100%;
    width: 100%;
    display: block;
    opacity: 0.5;
}
.line_hide {
    background: #ffffff;
    height: 19px;
    width: 647px;
    display: block;
    position: relative;
    top: -20px;
    margin: 0 auto;
}
.take_main {
    position: relative;
    color: #fff;
    margin-top: -134px;
    width: 100%;
    font-size: 14px;
    font-family: 'proxima_nova_ththin';
    text-align: center;
    padding: 37px;
    background: rgba(0, 0, 0, 0.2);
    display: none;
}
.slide_check {
    width: 24px;
    color: #fff;
    padding: 5px;
    font-weight: 100;
    font-size: 14px;
    border-radius: 34px;
    position: relative;
    top: -115px;
    left: 100%;
    margin-left: -12px;
}
.slide_selected .take_main {
    display: none!important;
}
.slide_selected{
    border: 5px solid #d8c6bc;
    box-shadow: 0px 0px 16px rgb(216, 198, 188);
}
.presentation_prew_item:hover {
    box-shadow: 0px 0px 16px rgb(216, 198, 188);
}
.add_message_form {
    padding: 18px 40px;
}
.video_form {
    width: 50%;
    min-width: 220px;
    margin: 0 auto;
    text-align: center;
}
.video_form .btn {
    margin-top: 30px;
}
.presentation_prew_zone_video {
    height: 400px;
    padding: 15px;
    overflow: auto;
}
.add_message_form_video {
    padding: 3px 40px;
}
.add_message_form_video .field-files-type {
    margin: 0;
}

.field-files-image {
    position: relative;
    margin-bottom: 45px;
}

.subscribe {
    border-radius: 3px;
    border-bottom: 4px solid #94816c;
    text-align: left;
    padding: 0px;
    margin: 30px 0;
}
.subscribe:hover {
    background-color: #b79b7d;
}
.subscribe i {
    display: inline-block;
    background: rgba(0, 0, 0, 0.04);
    height: 62px;
    padding: 21px;
    width: 58px;
    text-align: center;
    font-weight: 100;
    font-size: 16px;
    margin-bottom: -6px;
    margin-right: 28px;
    box-shadow: inset -2px 0 5px rgba(0, 0, 0, 0.08);
}
.autor_block {
    padding-right: 0;
}


.filter_label{
    color: #555;
    position: absolute;
    top: 26px;
    left: 80px;
}
.soc_links_profile_settings {
    text-align :center;
}
.soc_links_profile_settings p, .change_file {
    width: 70%;
    margin: 0 auto 20px;
}
.change_file {
    font-size: 14px;
    text-align: center;
    display: block;
    margin-top: 20px;
    display: none;
}

.like {
    cursor: pointer;
}

/*--------------------404--------------------*/
.error_page_numbers {
    font-size: 100px;
    font-family: 'proxima_nova_rgbold';
}









.bg_primary {background-color: #b09c87;}
.color_primary {color: #b09c87;}

.bg_secondary {background-color: #e2d9d0;}
.color_secondary {color: #e2d9d0;}

.bg_sub {background-color: #fffef8;}