body, html {
    height: 100%;
}
body {
    font-size: 18px;
    color: #777;
    font-family: 'proxima_nova_ltlight';
}
a {
    color: #777777;
    display: block;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
/*------------      Forms     -------------*/

.form-control {
    box-shadow: none!important;
    border-radius: 0;
    border:none;

    padding-bottom: 2px;
    border-bottom: 1px solid #dad0c5;
    color: #ab9885;
    margin-top: 16px;
    outline: none;
    background: transparent;
    font-size: 16px;
    -webkit-appearance: inherit;
    -moz-appearance:inherit;
    appearance:inherit;
    padding: 0;
}
select{
    background: url('../img/select_arrow.png') no-repeat right center !important;
}
.s2-togall-button {
    color: #b09c87!important;
}
.select2-container--krajee .select2-selection--multiple {

    box-shadow: none!important;
    border: 1px dashed #d8c6b3!important;
    border-radius: 3px;
    min-height: 95px;
    font-size: 16px;
}
.select2-container--krajee .select2-selection--multiple .select2-selection__choice {
    background: #bcab99;
    border-radius: 22px;
    border: none;
    color: #fff;
    font-weight: 100;
    font-size: 14px;
    padding: 2px 11px;
    font-family: 'proxima_nova_ththin';
}
.select2-container--krajee .select2-dropdown--above, .select2-container--krajee .select2-dropdown {
    width: 225px;
    border: 1px solid rgba(216, 198, 179, 0.59);
    box-shadow: 0px 0px 49px rgba(0, 0, 0, 0.25);
    border-radius: 0;
    font-size: 18px;
    font-family: 'proxima_nova_ththin';
}
.select2-container--krajee .select2-results__option[aria-selected] {
    padding: 8px 17px;
    border-bottom: 1px dashed #d8c6b3;
    color: #b09c87;
}
.select2-container--krajee .select2-results__option--highlighted[aria-selected] {
    background-color: #b09c87;
    color: #fff;
}

.select2-container--krajee .select2-results__option[aria-selected=true] {
    background-color: #f7f6f0;
}



.has-success .form-control, .has-success .form-control:focus, .form-control:focus {
    border-color:#dad0c5;
}
.underline_form {
    display: block;
    height: 1px;
    width: 0%;
    position: relative;
    top: -2px;
    border-bottom: 3px solid #dad0c5;
    opacity: 1;
}
.form-horizontal .form-group {
    height: 30px;
}
.help-block {
    font-size: 12px;
    position: absolute;
    margin-top: 0px;
}

textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {color:#ab9885!important;}
textarea::-moz-placeholder, input::-moz-placeholder          {color:#ab9885!important;;}/* Firefox 19+ */
textarea:-moz-placeholder, input:-moz-placeholder           {color:#ab9885!important;;}/* Firefox 18- */
textarea:-ms-input-placeholder, input:-ms-input-placeholder       {color:#ab9885!important;;}



.btn {
    width: 100%;
    border-radius: 24px;
    color: #fff;
    font-size: 18px;
    padding: 6px 20px;
    text-align: center;
    margin-top: 10px;
    outline: none;
    box-shadow: none;
    overflow: hidden;
}
.btn:hover, .btn.focus{
    color: #fff;
    background-color: #8a7c6d;
    outline: none;
    box-shadow: none;
}
.btn:focus {
    background: #b09c87;
    color: #fff;
    outline: none;
    box-shadow: none;
}
.btn_border {
    border: 2px solid #ebe6d7;
    background: none;
    text-align: center;
    cursor: pointer;
}
.btn_border:hover {
    background: #ebe6d7;
    color: #b09c87;
}

.btn_border:focus {
    /* background: #b09c87; */
    background: none;
    outline: none;
    box-shadow: none;
    color: #b09c87;
}


/*--FileInput reset--*/
.fileinput-remove {
    display: none;
}
.file-preview  {
    border: none;
    margin: 0;
    padding: 0;
}
.file-drop-zone{
    border: 1px dashed rgba(176, 156, 135, 0.53);
    border-radius: 0px;
    margin: 30px;
    height: 210px;
    /*box-shadow: 0px 0px 0px 5px #fff, 0px 0px 20px #d0c7c7;*/
    box-shadow: none;
}
.file-drop-zone-title {
    font-size: 18px;
}
.krajee-default .file-preview-image{
    width: 125px !important;
    height: 125px !important;
    border-radius: 103px;
}
.krajee-default.file-preview-frame .kv-file-content {
    height: auto;
}

.krajee-default.file-preview-frame{
    width: 124px;
    left: calc(50% - 68px);
    height: 124px;
    top: -62px;
    position: absolute;
    display: block;
    margin: 0px;
    border: 0px;
    box-shadow: none;
    padding: 0px;
    float: none;
}
.noborder {
    border: none!important;
}
.file-preview-thumbnails{
    position: relative;
    max-width: 100% !important;
    width: 100%;
}
.file-actions{
    display: none;
}
.file-thumbnail-footer{
    display: none;
}
.pagination a, .pagination span {
    color: #b09c87!important;
    border-color: #f1e8e0!important;
    text-align: center;
    width: 42px;
    border-radius: 0px!important;
}
.pagination .disabled {
    opacity: 0.5;
}
.pagination .active a{
    background: #b09c87!important;
    color: #fff!important;
    border-color: #b09c87!important;
}
.pagination {
    border-radius: 0px;
}
.message_upload_box .kv-preview-thumb {
    display: none;
}
.add_message_zone  label {
    display: none;
}
.krajee-default {
    box-shadow: none!important;
}
.settings_block .file-preview-frame {
    border: 2px solid #ebe6d7;
    border-radius: 124px;
    width: 135px;
    height: 135px;
    text-align: left;
}
.settings_block .btn-file {
    margin-top: -120px;
    width: 250px;
    left: 50%;
    margin-left: -125px;
}
.progress {
    margin-top: 30px;
    height: 30px;
    border-radius: 30px;
    background: #f3ece4;
}
.progress-bar {
    line-height: 30px;
}
.field-user-city_id .select2-selection{
    border-radius: 0;
    background: transparent;
    border: none;
    box-shadow: none!important;
}
.field-user-city_id .select2-selection__placeholder, .field-user-city_id .select2-selection__rendered {
    color: #ab9885!important;
    font-size: 16px;
}
.field-user-city_id .select2-container {
    width: 235px!important;
    display: inline-block;
    border-bottom: 1px solid #dad0c5;
    color: #ab9885;
    margin-top: 0;
    outline: none;
}
.field-user-city_id {
    margin-top: 15px;
}
.field-user-city_id .select2-selection__arrow {
    border: none!important;
}
.field-user-city_id .select2-selection__arrow b{
    border-color: #b09c87 transparent transparent transparent!important;
}
.file_upload{
    position: relative;
    overflow: hidden;
    height: 51px;
    line-height: 51px;
}
.file_upload > button{
    width: 100%;
    max-width: 250px;
    margin: 10px auto;
    display: block;
}
.file_upload input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}
.fb-share-button {
    width: 42px;
    float: right;
    margin-left: 3px;
}
#sendEmail .modal-header{
    border: none;
}
#sendEmail .modal-body{
    padding: 0 50px 30px 50px;
}
.help-block-error  {
    color: #ad8383;
}
.nav-tabs {
    border: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border-color: #f0f0f0;
    border-bottom-color: #fff;
    border-top: 2px solid #d2b291;
}
.nav-tabs > li > a {
    padding: 20px 30px;
    border-radius: 0px;
    margin: 0;
    margin-bottom: -3px;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    border: none;
    background: #e2d9d0;
    color: #fff;
}