@media screen and (max-width: 1023px) {
    .wrapper, .col, .nav_line {
        float: none;
        width:100%!important;
        padding: 0;
    }
    .register_container {
        top: 5%;
        width: 90%;
        margin-left: 0px;
        left: 5%;
    }
    h2 {
        text-align: center;
        width: 100%;
    }
     .register_container .left {
         display: none;
     }
     .register_container .right {
         background: none;
         text-align: center;
         padding: 60px 35px;
         float: none;
         width: 100%;
     }
     .go2login {
         top: -10px;
         font-size: 14px;
     }
     .pre_footer .left {
         display: none;
     }
     .social_links {
         padding: 20px 0px!important;
         text-align: center;
         border-top: 1px solid #e8ddd0;
     }
    .footer a, .footer span {
        margin: 0px;
        clear: both;
        width: 100%;
        padding: 30px;
        text-align: center;
        border-bottom: 1px solid #a08d78;
    }
    .add_photo_contaner {
        margin: 0;
        margin-top: 120px;
        width: 100%;
    }
    .register_step2 {
        margin-top: 90px;
    }
    .add_photo {
        width: 80px;
        height: 80px;
        float: left;
    }
    .no_photo {
        width: 70px;
        height: 70px;
        margin-left: 1px;
        margin-top: 1px;
        background-size: 50%;
    }
    .add_photo_contaner .btn {
        color: #000!important;
        margin: 0 auto;
        width: 200px;
    }

    /*  Head and Search   */
    .header {
        position: fixed;
        top: 6px;
        background-color: #fff;
        z-index: 9999;
    }
    .mobile_menu {
        display: block;
    }
    .mobile_menu_window {
        background: #ae9a85;
        position: fixed;
        width: 100%;
        z-index: 1000;
        top: 88px;
        display: none;
        padding-bottom: 100px;
    }
    .search_in, .search_out, .search_buttion  {
        width: 100%;
        position: inherit;
        top: 0;
        background: none;
    }
    .search {
        margin-top: 86px;
        background: #ded3c3;
    }
    .underline {
        position: fixed;
        top: 0px;
        z-index: 9999;
    }
    .search_in input {
        background: #fff;
        position: relative;
        z-index: 10;
        border-radius: 40px;
        width: 80%;
        margin-left: 10%;
        text-align: center;
        height: 55px;
        margin-top: 35px;
    }
     .search_mask, .search_in i, .load_more_left, .load_more_right, .scn_adv, .get_random, .gun {
        display: none!important;
    }

    .gen_btn {
        display: inline-block!important;
        color: #fff;
        right: 50%!important;
        width: 200px;
        text-align: center;
        margin-left: -90px;
    }
    .search_buttion input {
        width: 80%;
        position: relative;
        z-index: 30;
        margin-left: 10%;
        border-radius: 34px;
        background: #ac9883;
        margin-top: 20px;
        height: 55px;
    }
    .auth_menu {
        position: absolute;
        left: 0;
        width: 100%;
        height: 177px;
        background: rgba(255, 255, 255, 0.16);
        padding-top: 29px;
    }
    .auth_menu a{
        left: 50%;
        margin-left: -100px;
        width: 200px;
        clear: both;
        display: block!important;
        margin-top: 25px;
    }
    .filters a {
        margin-left: 0px!important;
        margin: 11px;
        font-size: 14px;
        padding: 0;
    }
    .search .filters {
        float: none;
        text-align: center;
    }
    .nav_line {
        float: right;
        margin-top: 200px;
    }
    .nav_line a {
        float: none;
        color: #fff;
        width: 100%;
        display: block;
        text-align: center;
        border: none;
        border-bottom: 1px solid #9e8c79;
        padding: 20px 0px;
        height: inherit;
    }
    .locked_screen h2 {
        font-size: 18px;
    }
    .user_header {
        width: 150px;
        margin: 35px auto;
        float: none;
    }
    .header .user_photo {
        width: 150px;
        height: 150px;
        border-radius: 150px;
    }
    .counter {
        margin-left: 131px;
        font-size: 26px;
        border-radius: 26px;
        margin-top: -142px;
    }
    .open_sub_menu {
        font-size: 17px;
        background: #fff;
        height: 30px;
        width: 30px;
        color: #ae9a85;
        margin-left: 117px;
        margin-top: -36px;
    }
    .filters {
        text-align: center;
        width:100%;
    }
    .active_filter {
        border: none!important;
        background: #ac9883;
        color: #fff!important;
        padding: 5px 10px!important;
    }
    .author {
        display: inline-block;
        width: 180px;
        margin: 20px 0 10px 20px;
        text-align: left;
        float: none;
    }
    .author_container {
        text-align: center;
    }
    .load_selector {
        float: none;
        margin: 0 auto;
        margin-top: -30px;
    }
    .messages_container {
        text-align: center;
    }
    .message {
        width: 200px;
        float: none;
        margin: 20px 2px 0px 0px;
        display: inline-block;
    }
    .recommendations {
        display: none;
    }



    /*  Profile   */
    .user_head .add_photo {
        float: none;
    }

    .user_block {
        width: 100%;
        margin-top: 0px;
        border: 0;
    }

    .user_counters div  {
        width: 32%;
    }
    .full_user_info {
        display: block;
        text-align: center;
        font-size: 32px;
        color: #b09c87;
        border-top: 1px solid #f1e8e0;
        clear: both;
        padding: 16px 0;
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.09);
    }
    .user_menu {
        margin-top: 0px;
        box-shadow: none;
        display: none;
        border-bottom: 1px solid #f1e8e0;
    }
    .user_info {
        display: none;
    }
    .wrapper_addform {
        width: 100%;
    }

    .settings_block .add_photo, .settings_block #user-avatar {
        display: none;
    }
    .message_view_container .user_block {
        margin: 0;
    }
    .message_form {
        background: none;
        padding: 10%;
    }

    .add_message_zone .btn span, .add_preview_call span {
        display: inline-block!important;
    }
    .add_photo_contaner .add_photo {
        display: none;
    }
}






@media screen and (max-width: 400px) {
    .author {
        width: 100%;
        border-bottom: 1px dashed #d4d4d3;
        padding-bottom: 14px;
        margin-left: 0px;
        padding-left: 10px;
    }
    .author_photo {
        float: left;
        width: 80px;
        height: 80px;
        margin-right: 20px;
    }
    .pq_counter {
        margin-left: 9px;
        margin-top: 65px;
    }
    .author_name {
        margin-top: 0px;
    }
    .message, .message_more {
        width: 100%;
        margin: 0;
        border: 0px;
    }
    .message_view, .messages_inline_container .message_view {
        width: 100%;
    }

    .messages_inline_container .message_view {
        height: 153px;
        margin-bottom: 20px;
    }
    .messages_inline_container .desk, .messages_inline_container .message_controls {
        float: none;
    }
    .field-user-avatar .btn {
         position: initial;
         margin: 0 auto;
         display: block;
         margin-top: -100px;
     }
    .form_grup .form-group, .edit_user_form {
        float: none;
        clear: both;
        width:100%;
    }
    .edit_user_form input {
        width: 80%;
    }
    .edit_user_form {
        padding-top: 50px;
    }


    .message_block_controls .btn{
        width: 100%;
        margin-bottom: 20px;
    }


}
