html,
body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
}

a.logo {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
}

.logo-mini {
    width: 30px;
    margin-left: 0 !important;
}

.logo-lg {
    width: 160px;
}
